{% extends "site_base.html" %}

{% block body_class %}blog{% endblock %}


{% block body %}
    <div class="row blog-container">
        <div class="col-md-3 sidebar">
            {% block sidebar %}
                <h1>
                    <a href="{% url "blog" %}">{{ SITE_NAME }}</a>
                </h1>
                <p class="lead">
                    This is where you can list your bio, add links
                    etc., by editing the <code>pinax/blog/blog_base.html</code>
                    template.
                </p>
                <div class="search">
                    {% if section_slug %}
                        {% url "blog_section" section_slug as search_url %}
                    {% else %}
                        {% url "blog" as search_url %}
                    {% endif %}

                    <form class="form-search" action="{{ search_url }}">
                        <label><i class="fa fa-search"></i></label>
                        <input class="form-control" type="search" placeholder="Search..." name="q" value="{{ search_term|default:"" }}">
                    </form>
                </div>
            {% endblock %}
        </div>
        <div class="col-md-8 blog-content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}